<div class="texto">
	<h1> Qué tenemos en desarrollo</h1>
	<p> Aquí encontrarás mucho contenido multimedia de nuestro actual videojuego: Insecminator, a medida que realicemos más lo iremos colgando para que podáis ver como está quedando.
	</p>
	<p style="margin-bottom:30px"> Tened siempre un ojo abierto para ver las imágenes que subimos, cada semana habrá una nueva.</p>

	<div class = "desarrolloImg">
		<%= image_tag "tomConceptDesarrollo.jpg"%>
	</div>
	<div class = "desarrolloImg">	
		<%= image_tag "Nivel1end"%>
	<div>
	<div class = "desarrolloImg">
		<%= image_tag "spiderDesarrollo.jpg"%>
	<div>
	<div class = "desarrolloImg">
		<%= image_tag "hormigonConceptDesarrollo"%>
	</div>
	<div class = "desarrolloImg">
		<%= image_tag "kingSpiderDesarrollo.jpg"%>
	</div>
	<div class = "desarrolloImg">
		<%= image_tag "abejaAsesinaConceptDesarrollo"%>
	</div>
	

</div> 

<%= render "partials/footer" %>