<div class="texto">
	<h1>Estos somos los integrantes del equipo</h1>	
	<div class= "seccionDavid">
		<div id= "imagenDavid">
			<%= image_tag "davidEquipo" %>
		</div>
		<div id ="textoDavid">
		<p>David siempre se preguntaba cómo se podía hacer esta cosa o aquella otra, ese afán de sabiduría y su afición a las consolas y videojuegos desde muy pequeño le han llevado a convertirse en el director creativo de Deadlock Studios. Disfruta imaginándose historias y a sus personajes para después darles vida en mundos creados.</p>
		<p><br> <b>Un juego:</b> Red Dead Redemption.</br></p>
		<p>	<b>Un cantante:</b> Eminem. </p>
		<p> <b>Una serie:</b> Juego de Tronos. </p>
		<p> <b>Un deporte:</b> tenis. </p>
		</div>
	</div>

	<div class="seccionJorge">
		<div id= "imagenJorge">
			<%= image_tag "jorgeEquipo"%>
		</div>
		<div id="textoJorgeClear">
		<p> Jorge es el encargado de chapurrear letras y números sin parar, con el fin de que los objetos cobren sentido... pues él es el programador. Se enamoró de la labor cuando de pequeño en clase de informática el profesor enseñó la consola de comandos, y desde entonces no se ha podido separar de ella... amor a primera vista</p>
		<p><br> <b>Un juego:</b> The Witcher 3:Wild Hunt.</br></p>
		<p>	<b>Un grupo:</b> Muse. </p>
		<p> <b>Una serie:</b> The Middle. </p>
		<p> <b>Un deporte:</b> kung-fu. </p>
		</div>
	</div>	

	<div class ="seccionDiego">	
		<div id= "imagenDiego">
			<%= image_tag "diegoEquipo" %>
		</div> 
		<div id="textoDiegoClear">
		<p> Seguro que todos tenéis el típico amigo que no atendía a clase porque se tiraba todo el día dibujando, así es Diego. Licenciado en Bellas Artes, tuvo que ganarse la vida en la panadería de su madre hasta que Deadlock Studios supo valorar el talento que había dentro de él y en su lápiz HB. Es el diseñador y bocetista del equipo pero también modela y anima en 3D, un auténtico todoterreno.</p>
		</div>
		<p><br> <b>Un juego:</b> Call of Duty Modern Warfare 2.</br></p>
		<p>	<b>Un grupo:</b> Thirty Seconds to Mars. </p>
		<p> <b>Una serie:</b> American Horror History. </p>
		<p> <b>Un deporte:</b> fútbol. </p>
		</div>
	</div>

	

	<div class ="seccionVictor">
		<div id ="imagenVictor">
			<%= image_tag "victorEquipo" %>
		</div>
		<div id ="textoVictorClear">
		<p> A Víctor lo de dibujar no le gustaba mucho, en cambio, en música era el número uno. Tal fue así durante tantos años que decidió matricularse en un grado superior de sonido y, aquí se encuentra ahora, haciendo los sonidos y bandas sonoras del equipo. Su pasión por los videojuegos le llevó a estudiar programación orientada a objetos</p>
		<p><br> <b>Un juego:</b> saga Kingdom Hearts.</br></p>
		<p>	<b>Un grupo:</b> Linkin Park. </p>
		<p> <b>Una serie:</b> Sons of Anarchy. </p>
		<p> <b>Un deporte:</b> carrera de fondo. </p>
	</div>

</div> 

<%= render "partials/footer" %>